PORT=3000
GITHUB_TOKEN=
MAX_REPOS=30
ALL_REPOS_MODE=true
ALL_REPOS_HARD_LIMIT=80
GITHUB_REQUEST_TIMEOUT_MS=8000
LANGUAGE_FETCH_CONCURRENCY=6
STATS_CACHE_SECONDS=180
UNAUTH_MAX_REPOS=80
UNAUTH_LANGUAGE_FETCH_CONCURRENCY=2
CARD_CACHE_SECONDS=300
